<html>
    <head>
        <title>Cho tam pacany, anime?</title>
    </head>
    <body>
        <div>
            <h1><a href="">Персонажи аниме</a></h1>
            <p>Опубликовано в 09.06.2020</p>
        </div>

        <div>
            <h2><a href="">Аста</a></h2>
            <p>Аста является мальчиком невысокого роста, но с хорошо развитой мускулатурой. У него зелёные глаза и светлые растрёпанные волосы пепельного оттенка, с вечно вздёрнутой вверх прядью по центру головы. Он носит чёрную головную повязку, с золотой эмблемой Чёрного Быка и рисунок в виде четырёхгранной звезды, с тремя швами на задней стороне </p>
            <p>Опубликовано в 09.06.2020</p>
        </div>

        <div>
            <h2><a href="">Мереолеона Вермиллион</a></h2>
            <p>Мереолеона — голубоглазая женщина с длинными, волнистыми ярко-красными волосами. Как и у её братьев, имеет красные маркировки под глазами, и как у Леопольда, имеет один острый выступающий клык. </p>
            <p>Опубликовано в 09.06.2020</p>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h3><a href="">{{ post.title }}</a></h3>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

    </body>
</html>