<html>
    <head>
        <title>Cho tam pacany, anime?</title>
    </head>
    <body>
        <div>
            <h1><a href="">Персонажи аниме</a></h1>
            <p>Опубликовано в 09.06.2020</p>
        </div>

        <div>
            <h2><a href="">Ями Сукэхиро</a></h2>
            <p>Ями является высоким человеком, с мускулистым телосложением. У него чёрные глаза, и чёрные волосы, небрежно зачёсанные назад. Кроме того, у него имеется щетина, образующая усы и бородку. </p>
            <p>Опубликовано в 09.06.2020</p>
        </div>

        <div>
            <h2><a href="">Мереолеона Вермиллион</a></h2>
            <p>Мереолеона — голубоглазая женщина с длинными, волнистыми ярко-красными волосами. Как и у её братьев, имеет красные маркировки под глазами, и как у Леопольда, имеет один острый выступающий клык. </p>
            <p>Опубликовано в 09.06.2020</p>
        </div>

    </body>
</html>